/* GENERAL */

*
{
    margin:0px;
    padding:0px;
}

body
{
    font-family:  Arial, sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4
{
    color: #444;
}

h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}

h2
{
    font-size: 55px;
}
.orange
{
    color: #ff7a00;
}

h3
{
    font-size: 30px;
}

.wrapper
{
    width: 940px;
    margin: 0px auto;
    padding: 0px 10px;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #444;
}

h4
{
    font-size: 24px;
}

p{
    line-height: 20px;
    color: #777;
}

.clear
{
    clear: both;
}

small
{
    font-size: 13px;
    font-style: italic;
}
/* HEADER */

header
{
    height: 120px;
}

header h1
{
    float: left;
    margin-top: 32px;
}

header nav
{
    float: right;
    margin-top: 50px;
}

header nav ul li
{
    display: inline-block;
    float: left;
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

/* Main Image */

#main-image
{
    height: 580px;
    background: url("images/main-image.jpg") center;
}

#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0px 40px 0;
    margin-bottom: 20px;
    
}

.button-1
{
    display: block;
    background: #ff7a00;
    width: 120px;
    height:50px;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    border-radius: 3px;
}

.button-1:hover
{
    background-color: #02b8d2;
}

/* Steps */

#steps ul
{
   margin: 80px 0; 
    
}

#steps ul li
{
    padding-top: 140px;
    width: 300px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

#steps h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
}

#steps p
{
    margin-bottom: 20px;
    
}

#step-1
{
   background: url("images/planifier.png") no-repeat top center; 
}

#step-2
{
   background: url("images/organiser.png") no-repeat top center;  
    
}

#step-3
{
    background: url("images/voyager.png") no-repeat top  center; 
    
}

/* Possibilities */

#possibilities
{
    background-color: #EFEFEF;
    padding: 60px 0;
}

#possibilities article
{
    height: 270px;
    width: 460px;
    float: left;
    border-radius: 10px;
}

#possibilities article:first-child
{
    margin-right: 20px;
}

.overlay
{
    background: rgba(255,255,255, 0.95);
    height: 100%;
    width: 190px;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

article h4
{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p
{
    text-align: center;
    margin-bottom: 20px;
}

.button-2
{
    background-color: #ff7a00;
    color: #fff;
    padding: 6px 20px;
    border-radius: 3px;
    
}

.button-2:hover
{
    background-color: #02b8d2;
}

/* CONTACT */

#contact
{
    padding: 60px 0px;
    text-align: center;
}

#contact h3
{
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    padding-bottom: 20px;
}

form
{
    margin: 60px 0 20px 0;
    
}

label
{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}

input[type="text"]
{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.button-3
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #02b8dd;
    padding: 11px;
    border-style: none;
    border-radius: 3px;
}

.button-3:hover
{
    color: #fff;
    background-color: #444;
}

/* FOOTER */

footer
{
    height: 260px;
    background-color: #444;
    text-align: center;
}

footer h1
{
    color: #fff;
    padding-top: 80px;
}

.copyright
{
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}